.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

a {
 text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto",
        sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    flex-shrink: 0;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;

}

.logo-title {
    color: #2E2F42;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word;
}
.navigation {

    display: flex;
    align-items: center;

}

.nav-list {
    display: none;

}
.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.address {
    margin-left: auto;
    display: none;

}
@media screen and (min-width:320px) {

}
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;

    }

    .nav-list {
        display: flex;
        gap: 40px;

    }

    .address {
        display: block;
    }

    .open-menu-btn {
        display: none;

    }

    .logo {
        margin-right: 120px;
    }

    .menu-link {
        color: #2E2F42;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        border-radius: 2px;
        background-color: #404bbf;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: -1px;

    }

    .menu-link:hover,
    :focus {
        color: #404bbf;

    }

    .menu-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px
        }

    
        .list-address-item {
            color: #434455;
            font-size: 12px;
            font-family: Roboto;
            font-weight: 400;
            line-height: 1.16;
            letter-spacing: 0.02em;
            word-wrap: break-word;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .list-address-item:hover,
        :focus {
            color: #404bbf;
    
        }
    
        .list-address {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .logo {
        margin-right: 76px;

    }
.nav-list {
    display: flex;
    gap: 40px;

}
    .menu-link {
        color: #2E2F42;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.address {
    display: block;
}
.address-list {
    flex-direction: row;
    gap: 40px;
}
.open-menu-btn {
    display: none;

}
    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        border-radius: 2px;
        background-color: #404bbf;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: -1px;

    }

    .menu-link:hover,
    :focus {
        color: #404bbf;

    }

    .menu-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
        .list-address-item {
            color: #434455;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            word-wrap: break-word;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .list-address-item:hover,
        :focus {
            color: #404bbf;
    
        }
    
        .list-address {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background-image-mob-1x.jpg);
    max-width: 320px;
    height: 432px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
   
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background-image-mob-2x.jpg);
    }
}
 .main-title {

     color: white;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11;
     letter-spacing: 0.02em;
     max-width: 216px;
     text-align: center;
     /*max-width: 496px;*/
     margin: 0 auto;
     text-transform: capitalize;
     margin-bottom: 72px;
     padding-top: 72px;
 }
.order-service-btn {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    /*margin-top: 48px;*/
    display: block;
    /*border-bottom: 1px solid var(--cornflower);*/
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.order-service-btn:hover,
:focus {
    background-color: #404BBF;

}
@media screen and (min-width:768px) {
  
.hero {
    max-width: 768px;
    height: 436px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background-image-tab-1x.jpg);
    }
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background-image-tab-2x.jpg);
    }
}
 .main-title {
     color: white;
     font-size: 56px;
     font-weight: 700;
     line-height: 1.07;
     letter-spacing: 0.02em;
     max-width: 496px;
     text-align: center;
     /*max-width: 496px;*/
     margin: 0 auto;
     margin-bottom: 36px;
     padding-top: 112px;
 }

 .order-service-btn {
     color: white;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     word-wrap: break-word;
     background-color: #4D5AE5;
     min-width: 169px;
     height: 56px;
     margin: 0 auto;
     padding: 16px 32px;
     /*margin-top: 48px;*/
     display: block;
     /*border-bottom: 1px solid var(--cornflower);*/
     border: none;
     border-radius: 4px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 }

}

@media screen and (min-width:1158px) {

.hero {
        max-width: 1158px;
        height: 600px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background-image-desktop-1x.jpg);
    }
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background-image-desktop-2x.jpg);
    }
}
 .main-title {
     color: white;
     font-size: 56px;
     font-weight: 700;
     line-height: 1.07;
     letter-spacing: 0.02em;
     max-width: 496px;
     text-align: center;
     /*max-width: 496px;*/
     margin: 0 auto;
     margin-bottom: 48px;
     padding-top: 188px;
 }

 .order-service-btn {
     color: white;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     word-wrap: break-word;
     background-color: #4D5AE5;
     min-width: 169px;
     height: 56px;
     margin: 0 auto;
     padding: 16px 32px;
     /*margin-top: 48px;*/
     display: block;
     /*border-bottom: 1px solid var(--cornflower);*/
     border: none;
     border-radius: 4px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 }
}

.section-features {
    padding-top: 96px;
    padding-bottom: 96px;
   
}

.prerogatives-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
        gap: 72px;
        align-items: center;
        /*width: calc ((100% - 72px) / 4); */     
}
/*.prerogatives-list-item {
    width: calc((100% - 72px) / 4);
}*/
.icon-list-prerogatives {
display: none;
}


.prerogatives-list-item {
    max-width: 288px;

}
.prerogatives-list-title {
    color: #2E2F42;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 8px;
    text-transform: capitalize;
    text-align: center;


}

.prerogatives-list-text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}
@media screen and (min-width:768px) {
.section-features {
        padding-top: 96px;
        padding-bottom: 96px;
    }
.prerogatives-list {

    flex-direction: row;
    column-gap: 24px;
   row-gap: 72px;
   flex-wrap: wrap;
/*width: calc ((100% - 72px) / 2);*/
}
.prerogatives-list-title {
    color: #2E2F42;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    margin-bottom: 8px;
    text-transform: capitalize;
text-align: left;

}
.prerogatives-list-text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}
.prerogatives-list-item {
    max-width: 356px;
   
}
}
@media screen and (min-width:1158px) {

.section-features {
max-width: 1128px;
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 auto;
    }

    .prerogatives-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
.prerogatives-list-item {
    max-width: 264px;
    height: 224px;
    width: calc ((100% - 72px) / 4);
}
 .icon-list-prerogatives {
     background-color: #F4F4FD;
     width: 264px;
     height: 112px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 4px;
     margin-bottom: 8px;
     border: 1px solid #8E8F99;
 }
 .prerogatives-list-title {
     color: #2E2F42;
     font-size: 20px;
     font-family: Roboto;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.40px;
     word-wrap: break-word;
     margin-bottom: 8px;
 }
         /*.icon-list-prerogatives {
             background-color: #8e8f99;
             border-radius: 4px;
         }*/
 .prerogatives-list-text {
     color: #434455;
     font-size: 16px;
     font-family: Roboto;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.32px;
     word-wrap: break-word;
 }
  /*.list-prerogatives {
      padding-bottom: 120px;
  }*/
}
/*.container-team {
    padding-top: 32px;
    padding-bottom: 32px;
}*/
.team {
    max-width: 320px;
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;

}
.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    background-color: #F4F4FD;
    text-align: center;
    min-width: 162px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.images {
    display: flex;
    flex-direction: column;
    /*width: calc ((100% - 72px) / 4);*/
    gap: 72px;

}

.image-title {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.img-content {

    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.title-image {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.title-img {
    color: #2E2F42;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    background-color: #FFFFFF;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}
.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    fill: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon-team {
    fill: #f4f4fd;

}
@media screen and (min-width:768px) {
    .team {
max-width: 768px;
            background-color: #F4F4FD;
            padding-top: 96px;
            padding-bottom: 96px;
            margin: 0 auto;
    
        }
   .container-team {
padding-left: 108px;
padding-right: 108px;
}
        .images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
           /*width: calc ((100% - 72px) / 2);*/
            column-gap: 24px;
            row-gap: 64px;
    
        }
}
@media screen and (min-width:1158px) {
    .team {
        max-width: 1158px;
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
    
        }
.container-team {

    padding-left: 15px;
    padding-right: 15px;
}
.images {
    display: flex;
    width: calc ((100% - 72px) / 4);
    gap: 24px;
}
}

.portfolio {
max-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
    border: 1px solid #e7e9fc;
    margin: 0 auto;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
   row-gap: 48px;
}
.title-portfolio {
    color: #2E2F42;
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.11;
        letter-spacing: 0.02em;
        word-wrap: break-word;
        text-align: center;
        margin-bottom: 72px;
}

.portfolio-list-item {
    margin: 0 auto;
    /*width: calc((100% - 48px) / 3);*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


}
.wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-list-item:hover .cover-text {
    transform: translateY(0%);
}

.cover-text {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  position: absolute;
        top: 0;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.img-name-list {

    padding: 32px 16px;
    text-align: left;
    border: 1px solid #e7e9fc;
    border-top: none;


}
.title-image-link {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;


}

@media screen and (min-width:768px) {
.portfolio {
max-width: 768px;
        padding-bottom: 96px;
        padding-top: 96px;
        border: 1px solid #e7e9fc;

    }
    .container-portfolio {
        padding: 0;
}
    
        .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            row-gap: 72px;
            column-gap: 24px;
    
        }
} 

@media screen and (min-width:1158px) {
.portfolio {
max-width: 1158px;
        padding-bottom: 120px;
        padding-top: 120px;
        border: 1px solid #e7e9fc;
        margin: 0 auto;

    }
    .container-portfolio {
       
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
}
    
        .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            gap: 48px 24px;
        }
        .portfolio-list-item {
         width: calc((100% - 48px) / 3)
}
}
.footer {

  background-color: #2e2f42;
  max-width: 320px;
  height: 664px;
  margin: 0 auto;

    
}
.container-footer {
    display: flex;
    /*align-items: baseline;*/
    flex-direction: column;
    align-items: center;
    margin: 0 auto;


}
 .logo-webstudio {
    /* margin-right: 120px;*/
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    align-items: center;
    max-width: 288px;
    margin-bottom: 72px;
 }
.page-footer-link {
    color: #4D5AE5;
    font-family: Raleway,
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;

}
.logo-title-footer {
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-footer-title {
    color: #F4F4FD;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
}
 .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    margin-bottom: 72px;
}
.link-media {
    width: 40px;
    height: 40px;

}

.link-media-icon:hover,
:focus {
    background-color: #31d0aa;

}
.title-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

}
.item-media {
    display: flex;
    gap: 16px;
    justify-content: center;

}
.link-media-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    fill: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media {
    fill: #f4f4fd;

}
 .footer-subscribe {
     /*margin-left: 80px;*/
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 288px;
 }
.footer-title-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
  .footer-form-email {
      display: flex;
      gap: 16px;
      align-items: center;
      flex-direction: column;
      max-width: 288px;

  }
  .footer-input {

      border: 1px solid #fff;
      border-radius: 4px;
      width: 264px;
      height: 40px;
      background-color: transparent;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      padding-left: 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #fff;

  }

  .footer-input::placeholder {
      font-size: 12px;
      line-height: 200%;
      letter-spacing: 0.04em;
      color: #fff;
      padding-left: 16px;
      padding-top: 8px;
  }
  .icon-subscribe {
      fill: #fff;
      margin-left: 16px;

  }
  .footer-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;

  }

  .footer-btn {
      border-radius: 4px;
      min-width: 165px;
      height: 40px;
      background-color: #4d5ae5;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

  }

@media screen and (min-width:768px) {
.footer {
        background-color: #2e2f42;
        max-width: 768px;
        height: 456px;
        margin: 0 auto;
    }
        .container-footer {
            display: flex;
            /*align-items: baseline;*/
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            column-gap: 24px;
            padding-left: 108px;
        }
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 208px;
     padding-top: 96px;
     }
         .logo-webstudio {
      /* margin-right: 120px;*/
        display: flex;
        flex-direction: column;
         padding-top: 96px;
        align-items: flex-start;
        justify-content: center;
        max-width: 264px;
       
          }
    .footer-subscribe {
     display: flex;
    align-items: flex-start;                 
}
 .footer-form-email {
     display: flex;
     gap: 16px;
     align-items: center;
     flex-direction: row;
     max-width: 288px;
     column-gap: 24px;
 }
 }

@media screen and (min-width:1158px) {
    .footer {
        max-width: 1158px;
        height: 312px;
        background-color: #2e2f42;
   
    
        }
                .container-footer {
                    display: flex;
                    align-items: baseline;
                    max-width: 1158px;
                    padding: 0 15px;
                    gap: 0;
                }
                                .social-media {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;
                                    max-width: 208px;
                                    padding-top: 100px;
                            
                                }
.footer-subscribe {
margin-left: 80px;

}
.footer-form-email {
display: flex;
gap: 24px;

}

.logo-webstudio {
    margin-right: 120px;
    padding-top: 100px;
}
.page-footer-link {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}
}

.backdrop {
    min-width: 320px;
    height: 640px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
.modal {
width: 288px;
min-height: 623px;
background-color: #fcfcfc;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #e7e9fc;
position: absolute;
top: 24px;
right: 24px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close:hover, :focus {
background-color: #404bbf;
border: none;

}
.icon-close {
fill: #2e2f42;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
fill: #ffffff;
}

.modal-title {
    font-weight: 500;
font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
    text-align: center;

}

.modal-input {
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;

}
.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-input-wrap {
    position: relative;
}
 .modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.button-send {
display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
fill: #2e2f42;
left: 16px;
top: 50%;
transform: translateY(-50%);
position: absolute;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-field-comment {
margin-bottom: 16px;
}
 .privacy {
     line-height: 133%;
     text-decoration: underline;
     text-decoration-skip-ink: none;
     color: #4d5ae5;
 }

 .check-icon {
fill: #f4f4fd;
}

.form-check {
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
padding-right: 8px;


}
.modal-field-checkbox {
margin-bottom: 24px;
}
.form-check:checked + .label-checkbox .privacy-span {
background-color: #404bbf;
fill: #F4F4FD;
border: none;
}

.label-checkbox {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.privacy-span {
display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
@media screen and (min-width:768px) {

.modal {
    width: 408px;
    min-height: 584px;
    
    padding: 72px 24px 24px 24px;
   
}
  .label-checkbox {
      display: block;
  }
.privacy-span {
        display: inline-flex;
        justify-content: center;
        align-items: center;

    }
.button-send {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4d5ae5;
    position: absolute;
}
}

@media screen and (min-width:1158px) {
    .modal {
            width: 408px;
            min-height: 584px;
            padding: 72px 24px 24px 24px;
    
        }
     .button-send {
    min-width: 169px;
     height: 56px;
    background: #4d5ae5;
    position: absolute;
}
.modal-input:focus {
        border-color: #4D5AE5;
    }

    .modal-input:focus+.modal-icon {
        fill: #4D5AE5;
    }
.modal-textarea:focus {
    border-color: #4D5AE5;
}
     
}

/*.modal-name {
    font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;

}*/
/*.modal-label-comment {
font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}*/